@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}


html {
 scroll-behavior: smooth;
}

.slick-dots {
  margin-top: 100px;
  position: absolute;
}



